@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "nav.css";
@import "login.css";
@import "register.css";
@import "dashboard.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(229, 228, 224);
}

.content {
  width: 100%;
  min-height: 100vh;
  padding-top: 77px;
}

.content .background {
  position: fixed;
  width: 80%;
  right: 0;
  top: -20px;
  z-index: 1;
}

.container {
  min-height: calc(100vh - 77px);
  padding: 0px 100px;
  position: relative;
  z-index: 100;
  padding-bottom: 30px;
}

.container-center {
  display: flex;
  align-items: center;
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  color: black;
  text-decoration: none;
}
