nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 77px;
  justify-content: space-between;
  padding: 0px 100px;
  background-color: rgb(172, 172, 172);
  position: fixed;
  z-index: 9999;
}

nav .links {
  display: flex;
  color: #5f9e5f;
  font-size: 45px;
  align-items: center;
}

nav .links p {
  font-size: 20px;
  margin-left: 10px;
}

nav .rechts {
  font-size: 20px;
}

nav .rechts ul li {
  list-style-type: none;
}

.mobile-menu {
  display: none;
}

.mobile-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  text-align: center;
  top: 77px;
  background-color: rgba(44, 44, 44, 0.87);
}

.mobile-nav {
  display: none;
  transition: 1s;
}

.mobile-nav a {
  color: aliceblue;
  font-size: 1.3em;
}

.divider {
  margin: 10px;
}

@media only screen and (max-width: 825px) {
  nav {
    padding: 0;
  }

  .links {
    padding: 0 20px;
  }

  .rechts {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0 !important;
  }

  .desk-menu {
    display: none;
  }
  
  .mobile-menu {
    display: block;
  }

  .fa-bars {
    color: rgb(73, 73, 73);
  }
}
