.registerCard {
  box-shadow: 0px 3px 6px rgba(000, 000, 000, 0.3);
  border-radius: 20px;
  padding: 40px;
}

.registerCard .title {
  font-size: 30px;
  color: #7ed67e;
  margin-bottom: 20px;
}

.registerCard .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.registerCard .input-group label {
  color: black;
  font-size: 20px;
  margin-bottom: 7px;
}

.registerCard .input-group input {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 20px;
  width: 300px;
  outline: none;
}

.registerCard .button-container {
  margin-top: 30px;
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.registerCard .button-container button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 20px;
  width: 230px;
  transition: all 0.3s ease;
  outline: none;
}

.registerCard .button-container button:hover {
  background-color: #7ed67e;
  border-color: #7ed67e;
}

/* MOBILE */
@media only screen and (max-width: 825px) {
  .registerCard {
    width: 100%;
  }

  .registerCard .button-container {
    width: 100%;
  }

  .registerCard .button-container button {
    width: 150px;
  }

  .register-form {
    width: 90vw;
  }

  .register-form {
    width: 80% !important;
  }

  .input-group input{
    width: 120% !important;
    max-width: 300px !important;
  }

  .button-container{
    display: flex !important;
  }
}

@media only screen and (max-width: 385px) {
  .button-container{
    display: block !important;
    margin-bottom: 50px !important;
  }

  .button-container button {
    margin-top: 10px;
  }
}