.Button_question{
    display: flex;
    flex-direction: column;
    width: 180px;
    Border-radius: 20px;
    Border: none;
}

.Button_question button{
    border: none;
    background-color: #83E683;
    opacity: 0.8;
    padding: 5px 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.Button_question_save button{
    border: none;
    background-color: #83E683;
    opacity: 0.8;
    padding: 5px 20px;
    border-radius: 15px;
    width: 180px;
    margin-top: 10px;
    margin-left: 7rem;
}

.Border-vraag{
    border: 1px solid gray;
    Border-radius: 20px;
    Box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
    height: auto;
    width: 30rem;
    Padding: 30px
}

.Hoofdtitel_Save{
    font-size: 20px;
    text-align: center;
}

.Button_question_save button:hover{
    background-color: #7CC97C;
}

.Button_question .goed{
    background-color: #83E683;
    opacity: 0.8;
}

.Button_question .matig{
    background-color: #FFA143;
    opacity: 0.8;
}
.Button_question .slecht{
    background-color: #FF7474;
    opacity: 0.8;
}

.Button_question .goed:hover{
    background-color: #7CC97C;
}

.Button_question .matig:hover{
    background-color: #E28D38;
}

.Button_question .slecht:hover{
    background-color: #ED5E5E;
}


.Button_question button:hover{
    background-color: #7CC97C;
}

.Hoofdtitel{
    font-size: 12px;
}

.Border-vraag input, select{
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.emojicontainer {
    width: 100%;
    display: inline-flex;
}

.emojicontainer i:hover{
    background-color: #7CC97C;
    border-radius: 25px;
}

.sleepButton {
    padding: 0 15px 0 15px;
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.sleepButton i {
    margin-top: 15px;
}

.selected {
    background-color: rgba(131, 230, 131, 0.7);
}

