.Button_question{
    display: flex;
    flex-direction: column;
    width: 180px;
    Border-radius: 20px;
    Border: none;

}

.Button_question .goed{
    background-color: #83E683;
    opacity: 0.8;
}

.Button_question .matig{
    background-color: #FFA143;
    opacity: 0.8;
}
.Button_question .slecht{
    background-color: #FF7474;
    opacity: 0.8;
}

.Button_question .goed:hover{
    background-color: #7CC97C;
}

.Button_question .matig:hover{
    background-color: #E28D38;
}

.Button_question .slecht:hover{
    background-color: #ED5E5E;
}

.Button_question button{
    border: 1px solid black;
    background-color: #83E683;
    opacity: 0.8;
    padding: 5px 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.Button_question button:hover{
    background-color: #7CC97C;
}

.sleepButton{
    background-color: lightgray;
    width: 16px;
}

.Hoofdtitel{
    font-size: 12px;
}


.Border-vraag{
    border: 1px solid lightgray;
    Border-radius: 20px;
    Box-shadow: 0px 3px 8px Color rgba(0,0,0,0.3);
    height: 13rem;
    width: 25rem;
    Padding: 30px
}



