.Button_question button{
    border: 1px solid #5f9e5f;
    padding: 5px 20px;
    border-radius: 15px;
}

.Button_question button:hover{
    border: 1px solid #5f9e5f;
    color: white;
}

.sleepButton{
    background-color: lightgray;
    width: 16px;
}

.Hoofdtitel{
    font-weight: bold;
}
